.error {
  display: block;
  height: 12px;
  margin-top: 6px;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #EE3465;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.error_left {
  text-align: left;
}

.error_profile {
  margin-top: 4px;
}

.error_status {
  height: 24px;
  font-size: 14px;
  line-height: 17px;
  text-overflow: "";
  overflow: visible;
  white-space: normal;
}

.error_movies {
  height: 40px;
  margin: 0;
  padding: 50px 70px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #EE3465;
  text-overflow: "";
  overflow: visible;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 619px) {
  .error_status {
    font-size: 12px;
    line-height: 15px;
  }

  .error_movies {
    padding: 50px 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 620px) and (max-width: 767px) {
  .error_movies {
    padding: 50px 30px;
  }
}