.navigation {
  width: 100%;
  margin-left: 44px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
}

.navigation__list_auth {
  gap: 30px;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  transition: opacity linear .2s;
}

.navigation__link_auth {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.navigation__link_auth-color {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 3px;
  background: #2BE080;
  text-align: center;
}

.navigation__link_bold {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.navigation__link:hover {
  opacity: .7;
  cursor: pointer;
}

.navigation__open-btn {
  margin:0;
  padding:0;
  width: 44px;
  height: 44px;
  background-image: url(../../images/btn-open-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  align-self: end;
  border: unset;
  transition: opacity linear .2s;
}

.navigation__open-btn:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 619px) {
  .navigation__open-btn {
    width: 40px;
    height: 43px;
    background-image: url(../../images/btn-open-menu-mobile.svg);
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    visibility: hidden;
    width: 0;
  }
  .navigation__link {
    visibility: hidden;
    width: 0;
  }
}

@media screen and (min-width: 769px) {
  .navigation__open-btn {
    visibility: hidden;
    width: 0;
  }
}
