.techs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.techs__container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  justify-content: center;
  box-sizing: border-box;
}

.techs__text {
  margin: 0;
  padding: 21px 0;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;
  background: #E8E8E8;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 747px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__container {
    margin-top: 60px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 84px);
    gap: 10px 10px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 748px) and (max-width: 830px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__container {
    margin-top: 80px;
  }

  .techs__list {
    grid-template-columns: repeat(7, 84px);
  }

  .techs__text {
    font-size: 12px;
    line-height: 15px;
  }
}
